---
import Wines from "../assets/images/bottles_wine.png";
import IconCheck from "../assets/images/icon-check.png";
import ImageLogo from "../assets/logos/form-logo.webp";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Ö-61 - Congrats"
  description="Congratulations! You have secured your two bottles of wine from Ö-61. Get ready to enjoy an unparalleled wine experience. Thank you for being part of our exclusive promotion."
>
  <main class="animate-fade-in animate-delay-100 animate-duration-600">
    <div
      class="relative overflow-hidden 2xl:h-[92vh] w-full bg-[url(/assets/thanks-bg.webp)] bg-no-repeat bg-cover bg-center flex items-center py-20 md:py-[74px] flex-col px-6"
    >
      <Image
        class="w-[320px]"
        src={ImageLogo}
        alt="Image of a wine bottle and a glass with the text 'OWINE' on it."
      />

      <div class="flex flex-col justify-center items-center">
        <Image
          class="w-[320px] mt-10 mb-4"
          src={IconCheck}
          alt="Image of a wine bottle and a glass with the text 'OWINE' on it."
        />
        <h1 class="font-cheddar text-[65px] text-white tracking-[4px]">
          Thank you!
        </h1>
        <p
          class="text-2xl text-white font-open-sans-light tracking-[4px] text-center mt-4"
        >
          Remember to follow us <br /> on Instagram to validate your entry.
        </p>
        <div
          class="bg-[url(/assets/border-btn-follow-form.png)] bg-cover bg-center bg-no-repeat mt-6 w-[320px] h-[53px] lg:w-[380px] lg:h-[63px] flex justify-center items-center"
        >
          <a
            href="https://www.instagram.com/o61wines/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-cheddar text-white text-[20px] lg:text-[29px] rounded-xl p-2 duration-300 transition-colors hover:text-[#edd78b] tracking-[4px]"
            >Follow us & get inkspired</a
          >
        </div>
      </div>
    </div>

    <!-- Elemento flotante -->
    <div class="absolute bottom-10 image-wines">
      <Image
        class="w-[280px]"
        src={Wines}
        alt="Images of wine bottles and glasses."
      />
    </div>
  </main>
  <Footer />
</Layout>
