---
import ImageLogo from "../assets/logos/form-logo.webp";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import FormComponent from "../components/FormComponent.astro";
---

<Layout
  title="Ö-61 - Form"
  description="Sign up with Ö-61 to participate in our exclusive promotion"
>
  <main>
    <section
      class="relative bg-[url(/assets/home-bg.webp)] bg-no-repeat bg-cover bg-center flex items-center py-[40px] flex-col px-6 lg:h-fit"
    >
      <Image
        class="w-[330px]"
        src={ImageLogo}
        alt="Logo form about Ö-61"
        loading="lazy"
      />
      <h1
        class="text-white font-cheddar text-center lg:text-start text-[30px] lg:text-[42px] tracking-[4.2px]"
      >
        Can your story inspire Ami James?
      </h1>
      <p
        class="text-white font-open-sans-light text-center lg:text-start text-[20px] lg:text-[28px]"
      >
        Participate for a chance to WIN a tattoo session with Ami James
      </p>
      <div class="lg:min-h-[563px]">
        <FormComponent />
      </div>
      <div
        class="bg-[url(/assets/border-btn-follow-form.png)] bg-cover bg-center bg-no-repeat mt-6 w-[320px] h-[53px] lg:w-[380px] lg:h-[63px] flex justify-center items-center"
      >
        <a
          href="https://www.instagram.com/o61wines/"
          target="_blank"
          rel="noopener noreferrer"
          class="font-cheddar text-white text-[20px] lg:text-[29px] rounded-xl p-2 duration-300 transition-colors hover:text-[#edd78b] tracking-[4px]"
          >Follow us on instragram</a
        >
      </div>
    </section>
  </main>
  <Footer />
</Layout>
