---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";
// Supports weights 300-800
import "@fontsource-variable/open-sans";
import openSansWoff2 from "@fontsource-variable/open-sans/files/open-sans-latin-wght-normal.woff2?url";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={openSansWoff2}
      crossorigin
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`/assets/favicon/apple-touch-icon.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`/assets/favicon/favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`/assets/favicon/favicon-16x16.png`}
    />
    <link
      rel="manifest"
      href={`/site.webmanifest`}
    />
    <link
      rel="mask-icon"
      href={`/assets/favicon/safari-pinned-tab.svg`}
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PQ43CKZH");
      /* tslint:disable */
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PQ43CKZH"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: "Open Sans Variable", sans-serif;
        background: #000;
        background-size: 224px;
      }

      @font-face {
        font-family: "CheddarGothic";
        src: url("/src/assets/fonts/CheddarGothic-Sans.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "OpenSansCondLight";
        src: url("/src/assets/fonts/OpenSans-CondLight.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      .font-cheddar {
        font-family: "CheddarGothic", sans-serif;
      }

      .font-open-sans-light {
        font-family: "OpenSansCondLight", sans-serif;
      }

      .form-select {
        background-image: url("./assets/icons/caret-down.svg");
        background-size: 1.5rem;
        background-position: right 1rem center;
        background-repeat: no-repeat;
      }

      .form-select-terms {
        background-image: url("./assets/icons/caret-down.svg");
        background-size: 1.5rem;
        background-position: right center;
        background-repeat: no-repeat;
      }

      .image-wines {
        left: 12rem;
      }
      @media screen and (max-width: 1255px) {
        .image-wines {
          left: 2rem;
        }
      }
      @media screen and (max-width: 1024px) {
        .image-wines {
          display: none;
        }
      }

      .spinner {
        background-color: #00000070;
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #09f;

        animation: spin 1s ease infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </body>
</html>
